@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

:root {
  --midOrange: #F9A535;
  --darkGreen: #167323;
  --paleYellow: #EFDEB3; 
}

h1 {
  font-size: 10rem;
  margin: 3rem;
}

.yellow {
  background-color: var(--midOrange);
  color: var(--darkGreen);
}

.green {
  background-color: var(--darkGreen);
  color: var(--paleYellow);
}


.button {
  width: 200px;
  margin: 1.5rem;
  padding: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  font-size: 1.5rem;
  font-weight: bolder;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.flip {
  transform: scaleX(-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Chicle', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

.pink {
  font-weight: bolder;
  color: var(--pink);
}

.mainSection {
  padding: 3em .5em;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}