@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --midOrange: #F9A535;
  --darkGreen: #167323;
  --lightGreen: #249255;
  --paleYellow: #EFDEB3;
  --darkTeal: #43ADA1;
  --lightTeal: #5dcec1;
  --pink: #FFA59E;
  --darkGray: #343740;
}

.mainContent {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  min-height: 100vh;
}

.flexJustifyStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  image: url('./assets/pom-logo/forest.png');
}


.button {
  width: 250px;
  margin: 1.5rem;
  padding: 2rem;
  font-size: 1.8rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  background-color: var(--lightTeal);
  color: var(--darkGray);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

span:hover {
  color: white;
}

a:hover {
  color: var(--darkGray);
}

.button:hover {
  transform: translateX(2px) translateY(2px);
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexNoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexAlignStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.flip {
  transform: scaleX(-1);
}

html {
  height: 100%;
  background-color: var(--teal);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Fredoka One', sans-serif;
  background-color: var(--darkTeal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

.pink {
  font-weight: bolder;
  color: var(--pink);
}

.mainSection {
  padding: 3em .5em;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}