@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --midOrange: #F9A535;
  --darkGreen: #167323;
  --paleYellow: #EFDEB3;
  --white: #f5f5f5;
  --teal: #43ada1;
}

.mainContent {
  padding-top: 6rem;
  position: relative;
  min-height: 100vh;
}

.flexJustifyStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  image: url('./assets/pom-logo/forest.png');
}


.yellow {
  background-color: var(--midOrange);
  color: var(--darkGreen);
}

.green {
  background-color: var(--darkGreen);
  color: var(--paleYellow);
}


.button {
  width: 200px;
  margin: 1.5rem;
  padding: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  font-size: 1.5rem;
  font-weight: bolder;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexNoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexAlignStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.flip {
  transform: scaleX(-1);
}

html {
  height: 100%;
  background-color: var(--teal);
}

body {
  margin: 0;
  font-family: 'Chicle', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

.pink {
  font-weight: bolder;
  color: var(--pink);
}

.mainSection {
  padding: 3em .5em;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}