  .landingImage {
    background-image: url('../assets/images/splash-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    image: url('../assets/pom-logo/forest.png');
  }