#commentsCardWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hidden {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 91vh;
  position: fixed;
  bottom: -100rem;
  transition: 1.5s;
  z-index: 2;
}

.shown {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 91vh;
  position: fixed;
  bottom: 0rem;
  transition: 1.5s;
  z-index: 2;
}

.hide {
  transition: 1.5s;
  position: fixed;
  bottom: -100rem;
  right: 2rem;
  z-index: 2;
  background-color: transparent;
  border: none;
}

.show {
  transition: 1.5s;
  position: fixed;
  bottom: 48rem;
  right: 4rem;
  z-index: 2;
  background-color: transparent;
  border: none;
}

#commentBtn {
  background-color: var(--midOrange);
  color: var(--darkGreen);
  font-size: 1rem;
  border-radius: .5rem;
  width: 12rem;
  height: 4rem;
}

#commentForm {
  padding-top: 1rem;
}

#commentTextArea {
  height: 30rem;
  resize: none;
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {}

@media (max-width: 559px) {}

@media (max-width: 479px) {}

@media (max-width: 379px) {}