#commentsCardWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
}

@media (max-width: 559px) {
}

@media (max-width: 479px) {
}

@media (max-width: 379px) {
}
