:root {
    --deepForest: #167323;
    --burnt: #F9A535;
    --sand: #efdeb3;
}

#pageFooter {
    z-index: 1;
    background-color: var(--deepForest);
    color: var(--sand);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    height: 6rem;
}

.footerLinks {
    color: var(--burnt);
    margin-left: .5rem;
}

.footerLinks:hover {
    color: var(--sand);
}