#login-card,
#signup-card {
    background-color: #efdeb3;
    width: 20%;
    height: auto;
    box-shadow: 5px 10px #888;
    /* font-family: 'Chicle', cursive; */

}

#loginOr {
    border: none;
    margin: 1rem 4rem;
    padding: 2rem;
    font-size: 3rem;
    color: var(--darkGreen);
    text-shadow: #ddcda4 0px 0px 30px, #ddcda4 0px 0px 40px, #ddcda4 0px 0px 50px,
        #ddcda4 0px 0px 75px, 29px 7px 20px rgba(239, 222, 179, 0.15);
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 11rem;
}

.ant-card-head-title {
    font-size: 2rem;
    color: #167323;
}

.ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginText {
    width: 100%;
}

label {
    font-size: 1.3rem;
    color: #343740;
}

#loginForm,
#signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.loginInput {
    display: block;
    border-radius: 6px;
    width: 100%;
    padding: .5rem;
}

#loginButton,
#signupButton {
    width: 80%;
    padding: 1.2rem;
    font-size: 1.4rem;
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {}

@media (max-width: 559px) {}

@media (max-width: 479px) {}

@media (max-width: 379px) {}